# GitHub Actions to build and release EFI
# Optimized for Z390M-GAMING and others

name: Uploud EFI to Release

on:
  push:       
    tags:
      - 'v*'  # Dispara quando você cria uma tag começando com 'v'

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Atualizado para a versão mais recente

      - name: Packaging EFIs 
        run: |          
          zip -q -r Z390M-GAMING-TAHOE.zip ./Z390M-GAMING-TAHOE
          zip -q -r Z390M-GAMING-SONOMA-SEQUOIA.zip ./Z390M-GAMING-SONOMA-SEQUOIA
          zip -q -r Z390M-GAMING-CATALINA-VENTURA.zip ./Z390M-GAMING-CATALINA-VENTURA
          zip -q -r Z390M-GAMING-MOJAVE.zip ./Z390M-GAMING-MOJAVE
          zip -q -r Z390M-GAMING-HIGH-SIERRA.zip ./Z390M-GAMING-HIGH-SIERRA

      - name: Upload Release Asset
        id: upload-release-asset 
        uses: softprops/action-gh-release@v2 # Atualizado para v2
        with:
          # Agora ele usa o nome da TAG que você criar no comando GH ou Git
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
          # Se existir changelog.md, ele usa. Se não, gera notas automáticas.
          body_path: ${{ hashFiles('changelog.md') != '' && 'changelog.md' || '' }}
          generate_release_notes: true
          draft: false
          prerelease: false
          files: |
            ./*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}